
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model hocvien.Model.Nhanvien

<form method="post" asp-action="doiMatkhau">
    <input type="hidden" asp-for="Manv" value="@ViewBag.manv" />
    <div class="form-group">
        <label for="oldPassword">Mật khẩu cũ:</label>
        <input type="password" class="form-control" id="oldPassword" name="oldPassword" required />
    </div>
    <div class="form-group">
        <label for="newPassword">Mật khẩu mới:</label>
        <input type="password" class="form-control" id="newPassword" name="newPassword" required />
    </div>
    <button type="submit" class="btn btn-primary">Lưu</button>
</form>
