@model hocvien.Models.Hocvien

@{
    ViewData["Title"] = "SearchStudent";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h3>Tìm kiếm học viên</h3>
<div class="row">
    <div class="col-md-8">
        <input type="text" id="tenhv" class="form-control" />
        <input type="hidden" id="mahv" />

    </div>
    <div class="col-md-4">
        <input type="button" onclick="timHocvien_click()" value="Tìm kiếm" />
    </div>
</div>
<script type="text/javascript">
    function timHocvien_click(){
        const tenhv=document.getElementById("tenhv").value;
        // Create an XMLHttpRequest object
        const xhttp = new XMLHttpRequest();

        // Define a callback function
        xhttp.onload = function () {
            // Here you can use the Data
            document.getElementById("danhsachHocvien").innerHTML=xhttp.responseText;
        }

        // Send a request
        const strUrl = "/Phieudangky/timHocvien/" + tenhv;
        xhttp.open("GET", strUrl);
        xhttp.send();

}
</script>

