
@{
    ViewData["Title"] = "SearchCourse";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<select id="malop" asp-items="@ViewBag.DSLop" class="form-control" onchange="chonLop_change()">
</select>
<div id="thongtinlophoc"></div>
<script type="text/javascript">
    function chonLop_change() {
        const malop = document.getElementById("malop").value;
        const xhttp = new XMLHttpRequest();
        // Define a callback function
        xhttp.onload = function () {
            // Here you can use the Data
            document.getElementById("thongtinlophoc").innerHTML = xhttp.responseText;
            //document.getElementById("danhsachHocvien").innerHTML = "";
        }

        // Send a request
        const strUrl = "/Phieudangky/timLop/" + malop;
        xhttp.open("GET", strUrl);
        xhttp.send();
    }
</script>


