@model hocvien.Model.Lophoc

@{
    ViewData["Title"] = "formThemLop";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>formThemLop</h1>

<h4>Lophoc</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="themLopHoc" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Malophoc" class="control-label"></label>
                <input asp-for="Malophoc" class="form-control" />
                <span asp-validation-for="Malophoc" class="text-danger"></span>
            </div>
          @*  <div class="form-group">
                <label asp-for="Mahv" class="control-label"></label>
                <input asp-for="Mahv" class="form-control" />
                <span asp-validation-for="Mahv" class="text-danger"></span>
            </div>*@
           @* <div class="form-group">
                <label asp-for="Ngaybatday" class="control-label"></label>
                <input asp-for="Ngaybatday" class="form-control" />
                <span asp-validation-for="Ngaybatday" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ngayketthuc" class="control-label"></label>
                <input asp-for="Ngayketthuc" class="form-control" />
                <span asp-validation-for="Ngayketthuc" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="Phonghoc" class="control-label"></label>
                <input asp-for="Phonghoc" class="form-control" />
                <span asp-validation-for="Phonghoc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Maloptuyensinh" class="control-label"></label>
               <select id="dslop" asp-items="@ViewBag.DSLop" class="form-control" onchange="xemDSLop_change()"></select>
                <span asp-validation-for="Maloptuyensinh" class="text-danger"></span>
            </div>
          @*  <div class="form-group">
                <label asp-for="Tenlophoc" class="control-label"></label>
                <input asp-for="Tenlophoc" class="form-control" />
                <span asp-validation-for="Tenlophoc" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="Magv" class="control-label"></label>
                <input asp-for="Magv" class="form-control" />
                <span asp-validation-for="Magv" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
<select id="dslop" asp-items="@ViewBag.DSLop" class="form-control" onchange="xemDSLop_change()"></select>
<div>
    <p>
        <a asp-action="formThemLop">Create New</a>
    </p>
</div>
<div id="dshocvien"></div>

<script type="text/javascript">

    function xemDSLop_change() {
        const malop = document.getElementById("dslop").value;
        // Create an XMLHttpRequest object
        const xhttp = new XMLHttpRequest();

        // Define a callback function
        xhttp.onload = function () {
            // Here you can use the Data
            document.getElementById("dshocvien").innerHTML = xhttp.responseText;

        }

        // Send a request
        const strUrl = "/Xeplop/xemDSLop/" + malop;
        xhttp.open("GET", strUrl);
        xhttp.send();
    }
</script>

@*@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
*@