@model hocvien.Model.Hocvien

@{
    ViewData["Title"] = "formSuaHocvien";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Sửa học viên</h1>

<hr />
<form asp-action="suaHocvien" method="post" asp-controller="Hocvien">
    <div class="row">
        <div class="col-md-6">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                    <label asp-for="Mahv" class="control-label"></label>
                    <input asp-for="Mahv" class="form-control" readonly />
                    <span asp-validation-for="Mahv" class="text-danger"></span>
                </div>
            <div class="form-group">
                <label asp-for="Hoten" class="control-label">Họ tên</label>
                <input asp-for="Hoten" class="form-control" />
                <span asp-validation-for="Hoten" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ngaysinh" class="control-label">Ngày sinh</label>
                <input asp-for="Ngaysinh" type="date" class="form-control" />
                <span asp-validation-for="Ngaysinh" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sdt" class="control-label">SDT</label>
                <input asp-for="Sdt" class="form-control" />
                <span asp-validation-for="Sdt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Diachi" class="control-label">Địa chỉ</label>
                <input asp-for="Diachi" class="form-control" />
                <span asp-validation-for="Diachi" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6">
            @*<div class="form-group">*@

                @* @if (Model.Gioitinh ==1)
                    {
                        <div class="form-check-inline">
                            <label class="form-check-label">
                                <input asp-for="Gioitinh" type="radio" value="true" checked="checked" class="form-check-input" />Nam
                            </label>
                        </div>
                        <div class="form-check-inline">
                            <label class="form-check-label">
                                <input asp-for="Gioitinh" type="radio" value="false" class="form-check-input" />Nữ
                            </label>
                        </div>
                    }
                    else
                    {
                        <div class="form-check-inline">
                            <label class="form-check-label">
                                <input asp-for="Gioitinh" type="radio" value="true" class="form-check-input" />Nam
                            </label>
                        </div>
                        <div class="form-check-inline">
                            <label class="form-check-label">
                                <input asp-for="Gioitinh" type="radio" value="false" checked="checked" class="form-check-input" />Nữ
                            </label>
                        </div>
                    }*@
               @* <label asp-for="Gioitinh" class="control-label">Giới tính</label>
                <input asp-for="Gioitinh" class="form-control" />
                <span asp-validation-for="Gioitinh" class="text-danger"></span>*@
                <div class="form-group">
                    <label asp-for="Gioitinh" class="control-label">Giới tính</label>
                    <select asp-for="Gioitinh" class="form-control">
                        <option value="1">Nam</option>
                        <option value="0">Nữ</option>
                    </select>
                    <span asp-validation-for="Gioitinh" class="text-danger"></span>
                @*</div>*@
            </div>
            <div class="form-group">
                <label asp-for="Trangthai" class="control-label">Trạng thái</label>
                <input asp-for="Trangthai" class="form-control" />
                <span asp-validation-for="Trangthai" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nguoitao" class="control-label">Người tạo</label>
                <input asp-for="Nguoitao" class="form-control" value="@ViewBag.ten" />
                <span asp-validation-for="Nguoitao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ngaytao" class="control-label">Ngày tạo</label>
                <input asp-for="Ngaytao" type="date" class="form-control" />
                <span asp-validation-for="Ngaytao" class="text-danger"></span>
            </div>
        </div>


    </div>
    <div class="form-group">
        <input type="submit" value="Lưu" class="btn btn-primary" />
    </div>
</form>
<div>
    <a asp-action="Index" class="btn btn-primary">Trở về</a>
</div>

@*@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
*@