@model Nhanvien




<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin 2 - Login</title>

    <link href="D:\laptrinhwindow\luanvan\hocvien\hocvien\wwwroot\asset\admin\vendor\fontawesome-free\css\all.min.css" rel="stylesheet" type="text/css">

    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="D:\laptrinhwindow\luanvan\hocvien\hocvien\wwwroot\asset\admin\css\sb-admin-2.min.css" rel="stylesheet">

    <link rel="stylesheet" href="~/css/sb-admin-2.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/hethong.styles.css" asp-append-version="true" />
</head>

<body class="bg-gradient-primary">

    <div class="container">

        <!-- Outer Row -->
        <div class="row justify-content-center">

            <div class="col-xl-10 col-lg-12 col-md-9">

                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="row">
                            <div class="col-lg-6 d-none d-lg-block style="background-image: url('D:\android\dart\trungtam-master 2 2 4 (1)\trungtam-master 2 2 4\hocvien\wwwroot\asset\OIP.jpg');"></div>
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-4">Welcome Back!</h1>
                                    </div>
                                    <form method="post" asp-action="Login" asp-controller="Dangnhap">
                                        <div class="form-floating mb-3">
                                            <input type="email" name="username" class="form-control" id="floatingInput" placeholder="name@example.com">
                                            <label for="floatingInput">Email address</label>
                                        </div>
                                        <div class="form-floating">
                                            <input type="password" name="password" class="form-control" id="floatingPassword" placeholder="Password">
                                            <label for="floatingPassword">Password</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <div>
                                                <label for="role" class="text-15px">Vai trò:</label>
                                            </div>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" id="inlineRadio2" name="role" value="quản lý">
                                            <label class="form-check-label" for="inlineRadio2">Quản lý</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" id="inlineRadio3" name="role" value="tuyển sinh">
                                            <label class="form-check-label" for="inlineRadio3">Tuyển sinh</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" id="inlineRadio4" name="role" value="học vụ">
                                            <label class="form-check-label" for="inlineRadio4">Học vụ</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" id="inlineRadio1" name="role" value="giáo viên">
                                            <label class="form-check-label" for="inlineRadio1">Giáo viên</label>
                                        </div>
                                        <button type="submit" class="btn btn-primary">Đăng nhập</button>
                                    </form>
                                    <hr>
                                    
                                </div>

                                @if (TempData.ContainsKey("ErrorMessageDN"))
                                {
                                    <div class="alert alert-danger" id="msgAlertError">
                                        @TempData["ErrorMessageDN"]
                                    </div>
                                }
                                @if (TempData.ContainsKey("ErrorMessageTuChoi"))
                                {
                                    <div class="alert alert-danger" id="msgAlertTuChoi">
                                        @TempData["ErrorMessageTuChoi"]
                                    </div>
                                }
                                
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>
   
  @*  <!-- Bootstrap core JavaScript-->
    <script src="~/asset/admin/vendor/jquery/jquery.min.js"></script>
    <script src="~/asset/admin/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="~/asset/admin/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="~/asset/admin/js/sb-admin-2.min.js"></script>*@
    <script>

        function hideErrorMessage() {
            var errorMessageDiv = document.getElementById('msgAlertError');
            errorMessageDiv.style.display = 'none';
        }

        setTimeout(hideErrorMessage, 2000);
    </script>
    <script>

        function hideErrorMessage() {
            var errorMessageDiv = document.getElementById('msgAlertTuChoi');
            errorMessageDiv.style.display = 'none';
        }

        setTimeout(hideErrorMessage, 2000);
    </script>
</body>

</html>
