@model hocvien.Model.Monhoc

@{
    ViewData["Title"] = "formthemMonhoc";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Thêm môn học</h1>

<hr />
  <form asp-action="ThemMonhoc" method="post">
<div class="row">
    <div class="col-md-6">
      
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Mamh" class="control-label"></label>
                <input asp-for="Mamh" class="form-control" />
                <span asp-validation-for="Mamh" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tenmh" class="control-label">Tên môn học</label>
                <input asp-for="Tenmh" class="form-control" />
                <span asp-validation-for="Tenmh" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mota" class="control-label">Mô tả</label>
                <input asp-for="Mota" class="form-control" />
                <span asp-validation-for="Mota" class="text-danger"></span>
            </div>
            </div>
    <div class="col-md-6">
        <div class="form-group">
            <label asp-for="Hocphi" class="control-label">Học phí</label>
            <input asp-for="Hocphi" class="form-control" />
            <span asp-validation-for="Hocphi" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Nguoitao" class="control-label">Người tạo</label>
            <input asp-for="Nguoitao" class="form-control" value="@ViewBag.ten" />
            <span asp-validation-for="Nguoitao" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Ngaytao" class="control-label">Ngày tạo</label>
            <input asp-for="Ngaytao" class="form-control" />
            <span asp-validation-for="Ngaytao" class="text-danger"></span>
        </div>
            <div class="form-group">
                <label asp-for="Trangthai" class="control-label">Trạng thái</label>
                <select asp-for="Trangthai" class="form-control">
                    <option value="đang mở">đang mở</option>
                    <option value="đóng">đóng</option>
                </select>
                <span asp-validation-for="Trangthai" class="text-danger"></span>
            </div>
    </div>
            <div class="form-group">
                <input type="submit" value="Thêm" class="btn btn-primary" />
            </div>
       
    </div>

</form>
<div>
    <a asp-action="Index">Trở về</a>
</div>

@*@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}*@
