@model IEnumerable<hocvien.Models.Khoahoc>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>
@foreach (var @khoahoc in Model)
{
    <div>
        <h3>Tên</h3>
        <p>Ngày bắt đầu: @khoahoc.Ngaytao.ToShortDateString()</p>
        
        <!-- Các thông tin khác của khóa học -->
    </div>
}

