@model hocvien.Model.Loptuyensinh

@{
    ViewData["Title"] = "formSualoptuyensinh";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>formSualoptuyensinh</h1>

<h4>Loptuyensinh</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="sualoptuyensinh" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
           @* <div class="form-group">
                <label asp-for="Maloptuyensinh" class="control-label"></label>
                <input asp-for="Maloptuyensinh" class="form-control" />
                <span asp-validation-for="Maloptuyensinh" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="Tenloptuyensinh" class="control-label"></label>
                <input asp-for="Tenloptuyensinh"readonly class="form-control" />
                <span asp-validation-for="Tenloptuyensinh" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Trangthai" class="control-label">Trạng thái</label>
                <input asp-for="Trangthai" class="form-control" />
                <span asp-validation-for="Trangthai" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nguoitao" class="control-label">Người tạo</label>
                <input asp-for="Nguoitao" class="form-control" value="@ViewBag.ten"/>
                <span asp-validation-for="Nguoitao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ngaytao" class="control-label">Ngày tạo</label>
                <input asp-for="Ngaytao" class="form-control" />
                <span asp-validation-for="Ngaytao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ngaybatdau" class="control-label">Ngày bắt đầu</label>
                <input asp-for="Ngaybatdau" class="form-control" />
                <span asp-validation-for="Ngaybatdau" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ngayketthuc" class="control-label">Ngày kết thúc</label>
                <input asp-for="Ngayketthuc" class="form-control" />
                <span asp-validation-for="Ngayketthuc" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                <label asp-for="Macahoc" class="control-label">Mã ca học</label>
                <input asp-for="Macahoc" class="form-control" />
                <span asp-validation-for="Macahoc" class="text-danger"></span>
            </div>*@
            <label for="Macahoc">Ca học:</label>
            <select id="Macahoc" name="Macahoc" class="form-control">
                <option value="">Select a class schedule</option>
                @foreach (var cahoc in ViewBag.Cahocs)
                {
                    <option value="@cahoc.Macahoc">@cahoc.Thuhoc - @cahoc.Giohoc</option>
                }
            </select>
            <div class="form-group">
                <label asp-for="Makh" class="control-label"></label>
                <input asp-for="Makh" class="form-control" />
                <span asp-validation-for="Makh" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mamh" class="control-label"></label>
                <input asp-for="Mamh" class="form-control" />
                <span asp-validation-for="Mamh" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

