@*@model hocvien.Models.Loptuyensinh

@{
    ViewData["Title"] = "themLoptuyensinh";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>themLoptuyensinh</h1>

<h4>Loptuyensinh</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="themLoptuyensinh">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Maloptuyensinh" class="control-label"></label>
                <input asp-for="Maloptuyensinh" class="form-control" />
                <span asp-validation-for="Maloptuyensinh" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tenloptuyensinh" class="control-label"></label>
                <input asp-for="Tenloptuyensinh" class="form-control" />
                <span asp-validation-for="Tenloptuyensinh" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Trangthai" class="control-label"></label>
                <input asp-for="Trangthai" class="form-control" />
                <span asp-validation-for="Trangthai" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nguoitao" class="control-label"></label>
                <input asp-for="Nguoitao" class="form-control" />
                <span asp-validation-for="Nguoitao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ngaytao" class="control-label"></label>
                <input asp-for="Ngaytao" class="form-control" />
                <span asp-validation-for="Ngaytao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ngaybatdau" class="control-label"></label>
                <input asp-for="Ngaybatdau" class="form-control" />
                <span asp-validation-for="Ngaybatdau" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ngayketthuc" class="control-label"></label>
                <input asp-for="Ngayketthuc" class="form-control" />
                <span asp-validation-for="Ngayketthuc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Thuhoc" class="control-label"></label>
                <input asp-for="Thuhoc" class="form-control" />
                <span asp-validation-for="Thuhoc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Giohoc" class="control-label"></label>
                <input asp-for="Giohoc" class="form-control" />
                <span asp-validation-for="Giohoc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Makh" class="control-label"></label>
                <input asp-for="Makh" class="form-control" />
                <span asp-validation-for="Makh" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mamh" class="control-label"></label>
                <input asp-for="Mamh" class="form-control" />
                <span asp-validation-for="Mamh" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}*@

