@model hocvien.Model.Khoahoc

<table class="table">
    <thead>
        <tr>
            <th>Mã khóa</th>
            <th>Tên khóa</th>
            <th>Thời lượng</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Model.Makh</td>
            <td>@Model.Tenkh</td>
            <td>@Model.Thoiluong</td>
        </tr>
    </tbody>
</table>