@model hocvien.Model.Monhoc
@{
    Layout = "_Layout";
}
<table class="table">
    <thead>
        <tr>
            <th>Mã môn học</th>
            <th>Tên môn học</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Model.Mamh</td>
            <td>@Model.Tenmh</td>
            
        </tr>
    </tbody>
</table>