@model hocvien.Model.Khoahoc

@{
    ViewData["Title"] = "formSuakhoahoc";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Sửa khóa học</h1>

<hr />
<form asp-action="suaKhoahoc" method="post">
<div class="row">
    
        
            <div class="col-md-6">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Makh" class="control-label">Mã khóa học</label>
                <input asp-for="Makh" class="form-control" />
                <span asp-validation-for="Makh" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tenkh" class="control-label">Tên khóa học</label>
                <input asp-for="Tenkh" class="form-control" />
                <span asp-validation-for="Tenkh" class="text-danger"></span>
            </div>
           @* <div class="form-group">
                <label asp-for="Thoiluong" class="control-label"></label>
                <input asp-for="Thoiluong" class="form-control" />
                <span asp-validation-for="Thoiluong" class="text-danger"></span>
            </div>*@
        
         </div>
             <div class="col-md-6">
       
            <div class="form-group">
                <label asp-for="Motakh" class="control-label">Mô tả</label>
                <input asp-for="Motakh" class="form-control" />
                <span asp-validation-for="Motakh" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nguoitao" class="control-label">Người tạo</label>
                <input asp-for="Nguoitao" class="form-control" value="@ViewBag.ten" />
                <span asp-validation-for="Nguoitao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ngaytao" class="control-label">Ngày tạo</label>
                <input asp-for="Ngaytao" class="form-control" />
                <span asp-validation-for="Ngaytao" class="text-danger"></span>
            </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Lưu" class="btn btn-primary" />
            </div>
    </div>
        </form>
    
  

<div>
    <a asp-action="Index">Back to List</a>
</div>

@*@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}*@
