@model hocvien.Model.Hoadon

@{
    ViewData["Title"] = "formSuahoadon";
}

<h1>Sửa hóa đơn</h1>


<hr />
<form asp-action="suaHoadon" method="post">
    <div class="row">
        <div class="col-md-6">
@*<div class="row">
    <div class="col-md-4">
        <form asp-action="suaHoadon" method="post">*@
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Mahd" />
            <div class="form-group">
                <label asp-for="Maphieu" class="control-label">Mã phiếu đăng ký</label>
                <select asp-for="Maphieu" class="form-control" asp-items="ViewBag.Maphieu"></select>
                <span asp-validation-for="Maphieu" class="text-danger"></span>
            </div>
           
            <div class="form-group">
                <label asp-for="Tongtienthanhtoan" class="control-label">Tổng tiền thanh toán</label>
                <input asp-for="Tongtienthanhtoan" class="form-control" />
                <span asp-validation-for="Tongtienthanhtoan" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ghichu" class="control-label">Ghi chú</label>
                <input asp-for="Ghichu" class="form-control" />
                <span asp-validation-for="Ghichu" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Hinhthuc" class="control-label">Hình thức</label>
                <input asp-for="Hinhthuc" class="form-control" />
                <span asp-validation-for="Hinhthuc" class="text-danger"></span>
            </div>
            </div>
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Trangthaithanhtoan" class="control-label">Trạng thái </label>
                <input asp-for="Trangthaithanhtoan" class="form-control" />
                <span asp-validation-for="Trangthaithanhtoan" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Manv" class="control-label">Người thu</label>
                <select asp-for="Manv" class="form-control" asp-items="ViewBag.Manv"></select>
                <span asp-validation-for="Manv" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ngaythu" class="control-label">Ngày thu</label>
                <input asp-for="Ngaythu" class="form-control" />
                <span asp-validation-for="Ngaythu" class="text-danger"></span>
            </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

